<section>
  <article>
    <h3>Interpolação</h3>
    <p> String renderizada com interpolação {{ url }}</p>
    <p> StringResultado de 1+1: {{ 1 + 1 }}</p>
    <p> StringResultado de 1+1 não é: {{ 1 + 1 + getValor() }}</p>
    <p> Teste boolean: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ imageUrl }}">
    <img [src]="imageUrl">
    <img bind-src="imageUrl">
  </article>

  <hr>
  
  <article>
      <span class="badge badge-pill badge-primary">Primary</span>
      <span class="badge badge-pill badge-secondary">Secondary</span>
      <span class="badge badge-pill badge-success">Success</span>
      <span class="badge badge-pill badge-danger">Danger</span>
      <span class="badge badge-pill badge-warning">Warning</span>
      <span class="badge badge-pill badge-info">Info</span>
      <span class="badge badge-pill badge-light">Light</span>
      <span class="badge badge-pill badge-dark">Dark</span>

      <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated"
               role="progressbar"
               aria-valuenow="75"
               aria-valuemin="0"
               aria-valuemax="100"
               style="width: 75%"></div>
      </div>
  </article>

  <article>
    <h3>Class and Style Binding</h3>
    <div>Selecione uma classe:</div>
    <select #classe (change)="0">
      <option value="alert-success">Sucesso</option>
      <option value="alert-info">Info</option>
      <option value="alert-warning">Warning</option>
      <option value="alert-danger">Danger</option>
    </select>

    <br><br>

    <div class="alert" role="alert"
      [class.alert-success]="classe.value == 'alert-success'"
      [class.alert-info]="classe.value == 'alert-info'"
      [class.alert-warning]="classe.value == 'alert-warning'"
      [class.alert-danger]="classe.value == 'alert-danger'">
      A simple alert—check it out!
    </div>

    <div class="alert {{ classe.value }}" role="alert">
      Texto colorido
    </div>

    <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
      Um erro qualquer
    </div>
  </article>

</section>

<section class="event-binding">
  <article>
    <h3>Event Binding</h3>
    <div>
      <button class="btn btn-primary" (click)="botaoClicado()">
        Clique aqui!
      </button>
      <br><br>

      <input type="text"
          (keyup)="onKeyUp($event)"
          (keyup.enter)="salvarValor($event.target.value)"
          (blur)="salvarValor(campoInput.value)"
          #campoInput />

      <p>{{ valorAtual }} </p>
      <p>{{ valorSalvo }} </p>
      <br><br>

      <span (mouseover)="onMouseOverOut()"
          (mouseout)="onMouseOverOut()"
          [class.highlight]="isMouseOver">
        Passe o mouse aqui</span>

    </div>
  </article>
</section>

<section class="event-binding">
  <article>
    <h3>Two Way Binding</h3>
    <div>
      <input type="text" [value]="nome" (input)="nome = $event.target.value" />
      <input type="text" [ngModel]="nome" (ngModelChange)="nome = $event" />
      <input type="text" [(ngModel)]="nome" />
      <p>Você digitou o {{ nome }}</p>
    </div>
    <div>
      <input type="text" [(ngModel)]="pessoa.nome" />
      <input type="text" [(ngModel)]="pessoa.idade" />
      <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade.</p>
    </div>
  </article>
</section>


<section>
  <article>
    <h3>Input/Output Property</h3>
    <div>
      <app-curso [nome]="nomeCurso" ></app-curso>
      <contador valor="10" (mudouValor)="onMudouValor($event)"></contador>
    </div>
  </article>
</section>